.ca-info-page-menu {
  $block: &;

  @include bp(phone-only) {
    padding: $px20 0;

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: $px20 $px20;
      background-color: $c-medium-gray;
      padding: $px16;
    }

    &__item {
      color: $c-text-primary;
    }

    &__link-icon {
      display: none;
    }

    &__link {
      white-space: nowrap;

      &.nuxt-link-exact-active {
        text-decoration: underline;
      }
    }
  }

  @include bp(tablet) {
    &__list {
      border: $border-light;
    }

    &__item {
      &:not(:last-child) {
        border-bottom: $border-light;
      }
    }

    &__link-icon {
      opacity: 0;
    }

    &__link {
      display: flex;
      justify-content: space-between;
      padding: $px16;

      @include title($font-size-l);

      &.nuxt-link-exact-active {
        #{$block}__link-icon {
          opacity: 1;
        }
      }
    }
  }
}
