.ca-product-accordion {
  border-top: $border-light;
  margin: $px32 0 $default-spacing;
  /* stylelint-disable selector-class-pattern */
  @include bp(laptop) {
    margin: rem-calc(60) 0 0;

    .ca-accordion-item__toggle {
      font-size: $font-size-xxl;
      padding: $px16 0;
    }
  }

  @include bp(tablet-down) {
    .ca-accordion-item__toggle {
      padding: 1rem 0;
      font-size: $font-size-xl;
    }
  }
  /* stylelint-enable selector-class-pattern */
  &__item-content {
    padding: $default-spacing / 2 0;

    @include bp(laptop) {
      padding: $px16 0;
    }
  }
}
