.ca-read-more {
  $block: &;
  &__text {
    overflow: hidden;
    position: relative;
    color: var(--body-text-color, $c-text-primary);
  }
  &__button {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-top: $px8;
    color: var(--body-text-color, $c-text-primary);
  }
  &--visible & {
    &__text::after {
      opacity: 0;
    }
  }
  &--ready {
    #{$block}__text {
      transition: height 200ms ease;
    }
  }
}
