.ca-price {
  @include title;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__selling {
    white-space: nowrap;
  }
  &__regular {
    text-decoration: line-through;
    color: $c-text-secondary;
    margin-top: $px4;
    font-size: 0.9em;
    &.sale {
      font-size: 1rem;
    }
  }
  &__ex-vat {
    margin-left: $px4;
    color: $c-text-secondary;
  }
  &--sale & {
    &__selling {
      color: $c-sale;
    }
  }
}
