.ca-brands-page {
  margin: rem-calc(30) 0;

  @include bp(tablet) {
    margin: rem-calc(50) 0;
  }

  &__title {
    font-family: $heading-font;
    font-size: rem-calc(36);
    font-weight: $font-weight-bold;
    margin: rem-calc(40) 0 rem-calc(20);

    @include bp(tablet) {
      font-size: rem-calc(62);
      margin: rem-calc(40) 0 rem-calc(30);
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: rem-calc(5);
    margin-top: rem-calc(20);
  }

  &__filter-item {
    font-family: $heading-font;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $c-text-primary;

    &--passive {
      color: $c-text-secondary;
    }

    &--active {
      text-decoration: underline;
    }
  }

  &__reset {
    text-decoration: underline;
    margin: rem-calc(10) 0 0;
    color: $c-text-secondary;
  }

  &__group-label {
    font-family: $heading-font;
    font-size: $font-size-xxxl;
    font-weight: $font-weight-bold;
    line-height: 1em;
    color: $c-text-primary;
  }

  &__group-item {
    display: flex;
    gap: rem-calc(20);
    padding-top: rem-calc(20);
    margin-top: rem-calc(20);
    border-top: $border-light;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__list {
    width: 100%;
    column-count: 1;

    @include bp(tablet) {
      column-count: 3;
    }

    @include bp(desktop) {
      column-count: 4;
    }
  }
}
