// Theme colors
$c-white: #ffffff;
$c-lightest-gray: #fafafa;
$c-light-gray: #fafafa;
$c-medium-gray: #ededed;
$c-dark-gray: #7e7e7e;
$c-darkest-gray: #131313;

$c-accent-color: #ffb802;
$c-accent-color-secondary: #9baea5;

// Theme text colors
$c-text-primary: $c-darkest-gray;
$c-text-secondary: $c-dark-gray;
$c-text-inverse: $c-white;

// Overlay
$c-overlay: rgba(0, 0, 0, 0.3);

// Feedback/Support
$c-success: #428363;
$c-error: #ca4a4a;
$c-ok: #f2c03f;
$c-info: $c-accent-color;

// Stock statuses
$c-in-stock: #00aa55;
$c-out-of-stock: #d10a0a;
$c-oversellable: #fab300;
$c-few-left: $c-oversellable;
$c-static-stock: $c-in-stock;

// Border colors
$c-border-light: $c-medium-gray;
$c-border-dark: $c-dark-gray;

// Backgrounds
$c-main-bg: $c-white;

// Header
$c-topbar-bg: $c-darkest-gray;
$c-header-bg: $c-white;
$c-search-bg: $c-white;
$c-cart-color: $c-text-primary;

// Price
$c-sale: $c-text-primary;

// Buttons
$c-button-primary-bg: $c-darkest-gray;
$c-button-primary-bg-hover: lighten($c-button-primary-bg, 5%);
$c-button-primary-txt: $c-text-inverse;
$c-button-primary-border: transparent;

$c-button-secondary-bg: $c-white;
$c-button-secondary-bg-hover: darken($c-button-secondary-bg, 3%);
$c-button-secondary-txt: $c-text-primary;
$c-button-secondary-border: $c-darkest-gray;

// Theme buttons
$c-button-dark-bg: $c-darkest-gray;
$c-button-dark-bg-hover: lighten($c-button-dark-bg, 5%);
$c-button-dark-txt: $c-text-inverse;
$c-button-dark-border: $c-darkest-gray;

$c-button-ghost-bg: transparent;
$c-button-ghost-bg-hover: rgba(0, 0, 0, 0.05);
$c-button-ghost-txt: $c-text-primary;
$c-button-ghost-border: $c-darkest-gray;

$c-button-light-bg: $c-white;
$c-button-light-bg-hover: darken($c-button-light-bg, 3%);
$c-button-light-txt: $c-text-primary;
$c-button-light-border: transparent;

$c-button-accent-bg: $c-accent-color;
$c-button-accent-bg-hover: lighten($c-button-accent-bg, 3%);
$c-button-accent-txt: $c-text-inverse;
$c-button-accent-border: transparent;

// Inputs
$c-input-focused-border: $c-accent-color;
$c-input-background: $c-white;
$c-input-checkbox-checked-bg: $c-accent-color;
$c-input-radio-checked-bg: $c-accent-color;

// Content panel
$c-content-panel-header-bg: $c-white;
$c-content-panel-header-txt: $c-text-primary;

// Notification badge
$c-notification-badge-bg: $c-accent-color;
$c-notification-badge-txt: $c-text-inverse;

// Skeletons
$c-skeleton: $c-light-gray;
